# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

#env:
#  - PHPUNIT_VERSION='3.7.*'
#  - PHPUNIT_VERSION='4.0.*'

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction
#  - composer require --no-update phpunit/phpunit=$PHPUNIT_VERSION
#  - composer install --prefer-source

script:
 - mkdir -p build/logs
 - phpunit --configuration phpunit.xml --coverage-text --debug
# - vendor/bin/phpunit --configuration phpunit.xml --coverage-text
# - vendor/bin/paratest --configuration phpunit.xml

after_script:
 - php vendor/bin/coveralls -v

notifications:
  email: false

