<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Api.php" colors="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd">

	<testsuites>
		<testsuite name="TravisCI">
			<directory>./PhpUnit/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>./</directory>
			<exclude>
				<directory>./PhpUnit</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
