<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="phpunit.bootstrap.php" stderr="true" colors="true" verbose="true" backupGlobals="true"
         backupStaticAttributes="true" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false"
         stopOnSkipped="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd">

	<testsuites>
		<testsuite name="TravisCI">
			<directory>./PhpUnit</directory>
		</testsuite>
	</testsuites>

	<!-- Exclude 3rdParty Applications //-->
	<filter>
		<blacklist>
			<directory><![CDATA[./.idea]]></directory>
			<directory>./vendor</directory>
			<directory>./build</directory>
			<directory>./Data</directory>
			<directory>./System</directory>
			<directory>./Plugin</directory>
			<directory>./Extension/Documentation/ApiGen/3rdParty</directory>
			<directory>./Extension/Documentation/ApiGen/Gui</directory>
			<directory>./Extension/Excel/PHPExcel/3rdParty</directory>
			<directory>./Extension/Mail/PHPMailer/3rdParty</directory>
			<directory>./Core/Update/GitHub/Gui</directory>
		</blacklist>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory>./</directory>
			<exclude>
				<directory>./.idea</directory>
				<directory>./vendor</directory>
				<directory>./build</directory>
				<directory>./Data</directory>
				<directory>./System</directory>
				<directory>./Plugin</directory>
				<directory>./Extension/Documentation/ApiGen/3rdParty</directory>
				<directory>./Extension/Documentation/ApiGen/Gui</directory>
				<directory>./Extension/Excel/PHPExcel/3rdParty</directory>
				<directory>./Extension/Mail/PHPMailer/3rdParty</directory>
				<directory>./Core/Update/GitHub/Gui</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

	<php>
		<const name="PHPUNIT_SUITE" value="true"/>
	</php>
</phpunit>
